[Desktop Entry]
Comment[de_DE]=
Comment=
Exec=run.sh
GenericName[de_DE]=
GenericName=
MimeType=
Name[de_DE]=kontoausz-app
Name=kontoausz-app
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
StartupWMClass=KontoauszuegeApp