# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# IDE
.idea/
*.iml
*.iws
*.ipr
.eclipse/
.classpath
.project
.settings/
*.launch

# Spring Boot
*.log
spring-pid

# Vaadin
node_modules/
node/
webpack.config.js
webpack.generated.js
tsconfig.json
types.d.ts
pnpm-lock.yaml
pnpmfile.cjs
.pnpmfile.cjs
src/main/frontend/generated/
src/main/bundles/prod.bundle

electron-starter/dist
